<!DOCTYPE html>
<html>
<head>
<title>INNOCENT ARE GOOD</title>
</head>
<body bgcolor="akagera.jpg">
<center><h1 style="border-spacing:0%" style="color:blue;font-size:200%;background-color:white;width: 40%;height: 60%;border-radius: 20%;">List of beatifull places you can visit</h1></center>

<br>

<h1><ul>
  <p>Nothern province</p>
  <ul>
    <li>Vilunga mountain
    <ul>
      <li>Gollila</li>
      <li>Monkey</li>
    </ul>
  </li>
  <p>Eastern province</p>
  <ul>
    <li>Lake kivu
    <ul>
      <li>Blarirwa indunstry</li>
      <li>Amashyuza</li>
    </ul>
  </li>
<h3><a href="https://www.expertafrica.com/rwanda/lake-kivu/"target="-blank">Clik here to see what lake kivu</a>
  <br>
  <h2><a href="https://unsplash.com/images/nature/mountain/"target="-blank"> click here to book mountain you can visit</a>
  
</body>
</html>
